YOLO/mobileclip_blt.ts
.pycache
__pycache__
*.pyc
*.pyo
*.pyd
*.pkl
*.pyd
*.db
# Virtual environments
venv/
.venv/
env/
.env/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# pip cache and build artifacts
*.egg-info/
dist/
build/

# OS metadata files
.DS_Store
Thumbs.db

# Installed packages
site-packages/

# Ignore Ultralytics YOLO model weights
*.pt
*.log

mobileclip_blt.ts
